<template name="disContentByUser">
	{{#if currentUser}}
	<div class="section">
		<div class="container">
			<div class="row">
				{{#each getContent}}
					<div class="col-lg-12">
						<div class="col-md-6" style="padding:16px;">
							<a href="/contentDetail/{{_id}}">
								<img data-holder-rendered="true" src="/uploads/{{getImage imageId}}" width="50" class="img-responsive" style="height: 200px; width: 100%; display: block;" data-src="holder.js/100%x200" alt="100%x200">
							</a>
						</div>
						<div class="col-md-6">
							{{#each getCate}}
                                <span class="caption pull-right" style="margin: 20px 0px 0px 0px !important;">{{title}}</span>
                            {{/each}}
							<div class="caption"> 
								<h3><a href="#">{{title}}</a></h3> 
								<p>{{description.text1}}</p>
							</div>
							<div class="row pull-right">
								<a href="/editContent/{{_id}}" id="update-con">Update</a> |
                                <a href="#" id="remove-con">Delete</a>
							</div>
						</div>
					</div>
				{{/each}}		
			</div>
		</div>
	</div>
	 {{else}}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header" style="color:#ddd">
                        !!!Page Not Found No Permission
                    </h2>
                </div>
            </div>
        </div>
    {{/if}}
</template>