#header{
	overflow:hidden;
	margin-bottom:15px;
}

#header .logo{
	margin:50px 15px 50px 15px;
}

#header .main_menu .navbar-nav {
    float: left;
    margin: 0px;
    border-top: 1px solid #ccc;
}

#header .hold_swiper{
	vertical-align:center;
}

#header .nav > li > a {
    position: relative;
    display: block;
    padding: 20px 25px;
	color: #000;
	font-size: 18px;
}

#header .nav > li > a:hover, .nav > li > a:focus {
    position: relative;
    display: block;
    padding: 20px 25px;
	color: #000;
	font-size: 18px;
	background:#fff;
} 

#header .nav > li:first-child  > a{
    position: relative;
    display: block;
    padding-left:0px;
	color: #000;
	font-size: 18px;
}

#header .nav > li.lifestyle  > a{
	background:url("../images/bg_nav-02.png") no-repeat;
	background-size:150px 60px;
	background-position:center center;
}
#header .nav > li.beauty  > a{
	background:url("../images/bg_nav-01.png") no-repeat;
	background-size:40px 40px;
	background-position:center center;
}
#header .nav > li.fashion  > a{
	background:url("../images/bg_nav-03.png") no-repeat;
	background-size:60px 60px;
	background-position:center center;
}
#header .nav > li.add-content  > a{
	background:#000;
	padding: 10px 25px;
	color:#fff;
	margin-top: 10px;
}





.hold_menu_selete_category{
	margin-bottom:25px;
	overflow:hidden;
}

.hold_menu_selete_category .nav > li > a {
    position: relative;
    display: block;
    padding: 20px 25px;
	color: #000;
	font-size: 16px;
}

.hold_menu_selete_category .nav > li > a, .nav > li > a:focus {
    position: relative;
    display: block;
    padding: 20px 25px;
	color: #000;
	font-size: 14px;
	background:#fff;
} 

.hold_menu_selete_category .nav > li:first-child  > a{
    position: relative;
    display: block;
    padding-left:0px;
	color: #000;
	font-size: 14px;
}

.list-inline > li {
    display: inline-block;
    padding-right: 25px;
    padding-left: 5px;
}
.list-inline > li.selecteTage {
    font-size:18px;
}

.hold_menu_selete_category .nav > li.lifestyle  > a{
	background:url("../images/bg_nav-02.png") no-repeat;
	background-size:150px 60px;
	background-position:center center;
}
.hold_menu_selete_category .nav > li.beauty  > a{
	background:url("../images/bg_nav-01.png") no-repeat;
	background-size:40px 40px;
	background-position:center center;
}
.hold_menu_selete_category .nav > li.fashion  > a{
	background:url("../images/bg_nav-03.png") no-repeat;
	background-size:60px 60px;
	background-position:center center;
}


.hold_tag{
	margin-bottom:25px;
	overflow:hidden;
}

.hold_tag > .list-inline > li {
	padding-right:15px;
	margin-bottom: 15px;
}
.hold_tag > .list-inline > li a{
	color:#000;
	text-decoration:none;
}
.hold_tag > .list-inline > li a:hover{
	color:#000
	text-decoration:none;		
}